<!-- Use Bootstrap container for better content alignment -->
  
<nav class="navbar bg-body-tertiary fixed-top" style="padding: 0%;">
   
   
     
    
    <div class="d-flex ">
      

      
  <!-- Project Selector Dropdown -->
  

      
      <!-- Logo placed beside the toggler -->
      <a class="navbar-nav" href="#">
        <img src="../static/productcatalog/COG-Logo-2022-8.svg" alt="Logo" width="150" height="60" class="d-inline-block align-text-top">
      </a>


      
      <!-- Project Selector Dropdown -->
      
      
      
    
     
      <!-- Rest of your navigation content follows... -->
    </div>
    <div class="innovation-gallery">
        <a href="https://dev-dashboard-kcvokjzgdq-ew.a.run.app/">Home</a>
      </div>
      
   
   
    
    
  </nav>
